@charset "utf-8";

body{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
nav{
 width: 100%;
 box-sizing: border-box;
 background-color: rgb(43, 103, 233);
}

#list{
 list-style: none;
 padding: 0;
 margin: 0;
}

#list-items{
 display: inline-block;
 padding: 14px;
 color: white;
}
#list-items a{
 color: white;
 text-decoration: none ;
 font-family:sans-serif;
 text-transform: capitalize;
 text-align: center;
}

#list-items:hover{
 background-color: #00a9f7;
 transition: 0.9;
}
.drop{
 position: relative;
}

#dropdown-menu{
 width: 105px;
 list-style: none;
 margin: 0;
 padding: 0;
 position: absolute;
 top: 48px;
 left: 0;
 background-color: #00a9f7;
 line-height:34px;
 display: none;
 box-shadow:8px 10px 9px rgba(0,0,0.0,0.1);
 text-align: center;

}

.drop:hover #dropdown-menu{
 display: block ;
}
#dropdown-item:hover{
 background-color: red;
}

p:before{
 content:"Inshallah  ";
 text-decoration: underline;
}

p{
 cursor:pointer;
}